
/* .navbar {
  background-color: rgb(9, 63, 57);
  overflow: visible;  
} */


.navbar-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
  font-size: 1.4rem;
  text-shadow: 0.7rem 0.7rem 0.7rem rgb(184, 210, 243);
  font-family: fantasy;
}

.nav-item a:hover {
  background-color: #ddd;
  color: rgb(36, 41, 63);
}



.navbar-toggle {
  z-index:3;
}

.modal{
  overflow: hidden;
}

#ibutton{
font-size: 1rem;
}

#contactForm{
 margin: 1rem
}

.main-body {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50rem;
  color: darkslategrey; 
  font-family: Georgia, 'Times New Roman', Times, serif;  
  font-size: 1.1rem;
  }

h1, h2{
color: rgb(53, 171, 245);
font-style: italic;
}

#brand{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 2rem;
padding-left: 1rem;
}


#cv {
  font-style: oblique;
  font-size: 16px;
  color: green;
  margin-top: 5em;
  margin-bottom: 0.5em;
  text-align: center;
}

#blog{
  margin-top: 1rem;
}

hr {
  border: 0.5rem dotted #00f7ff;
  border-style: none none dotted; 
  color: #fff; 
  background-color: #fff;
}

h3 {
color: #00f7ff;
font-style: italic;
}

.card {
  text-align: justify;
} 


#contactForm{
margin: 0.5rem;
color: rgb(42, 131, 143);
  }

#projectimg {
width: 100%;
height: 100%
}

#blogimg {
  border-radius: 10%;
  width: 5rem;
  height: 5rem;
}

#alpacino{
  width: 100%;
  height: 100%;
}

#wrap{
  display: flex;
  align-items: center;
  margin: 1rem; 
  }

